.tasks {
  padding: 0;
  margin: 20px 40px;
  border: 1px solid black;
  border-bottom: none;
}

.tasks.blur {
  filter: blur(5px);
  opacity: 0.5;
}

.tasks > li {
  list-style-position: inside;
  border-bottom: 1px solid black;
  padding: 5px 175px 15px 10px;
  min-height: 60px;
  position: relative;
}

.tasks > li > span {
  margin-left: 10px;
}

.tasks > li > span > a {
  color: blue;
}

.tasks > li > .input {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  border-left: 1px solid black;
}

.tasks > li > .input > input {
  margin: 10px 20px 0;
  height: 20px;
}

.tasks .buttons {
  display: flex;
  margin: 10px 20px 0;
}

.tasks .buttons > button {
  margin-right: 10px;
  height: 20px;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tasks .buttons > button.green {
  background-color: green;
}

.tasks .buttons > button.red {
  background-color: red;
}

.tasks .buttons > button:focus {
  outline: 0;
}
